<html>
  <head>
    <title>Voting System Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Extremely Secure Voting System - Group 5</h1>
      <br>
      <b>Please Login:</b>
      <br>
      <br>
      <form method="POST">
        <input type="text" placeholder="Username" name="username">
          <br>
          <br>
         <input type="password" placeholder="Password" name="password">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
    </div>
  </body>
</html>