<html>
    <head>
        <title>Voting System Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Submit Vote Here</h1>
        <form method="POST">
            <input type="radio" id="candidate1" name="vote" value="Joe Biden">
            <label for="candidate1">Joe Biden</label><br>

            <input type="radio" id="candidate2" name="vote" value="Donald Trump">
            <label for="candidate2">Donald Trump</label><br><br>

            <input class="btn btn-default" type="submit" value="Vote">
        </form>
    </body>
</html>