<html>
    <head>
        <title>Voting System Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Submit Vote Here</h1>
        <form method="POST">
            <input type="radio" id="candidate1" name="vote" value="Person 1">
            <label for="candidate1">Person 1</label><br>

            <input type="radio" id="candidate2" name="vote" value="Person 2">
            <label for="candidate2">Person 2</label><br>

            <input type="radio" id="candidate3" name="vote" value="Person 3">
            <label for="candidate3">Person 3</label><br><br>

            <input class="btn btn-default" type="submit" value="Vote">
        </form>
    </body>
</html>